@import "~/styles/variables.less";

.block {
  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
  p {
    color: @primary-65 !important;
  }
}

.card {
  &:not(.expanded) {
    :global(.ant-card-body) {
      padding-bottom: 0;
    }
  }

  :global(.ant-card-actions) {
    border-top: none;
  }
}

.imageGrid {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.expandInfo {
  margin-top: 1rem;
}

.btnMore {
  color: @primary-65 !important;
}

.fact {
  :global(.ant-descriptions) {
    :global(.ant-descriptions-item-label) {
      position: relative;
      color: @primary-45;
      min-width: 110px;
      &::after {
        content: ":";
        position: absolute;
        right: 0;
      }
    }
  }
}
